<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="forgot.css">
    <link rel="stylesheet" href="font.css">
</head>
<body>
    <div class="forgot-password-container">
        <h2>Admin Forgot Password</h2>
        <form action="/admin_forgot" method="post">
            <label for="admin_email">Email:</label>
            <input type="email" id="admin_email" name="admin_email" required>
            <label for="admin_password">password:</label>
            <input type="password" id="admin_password" name="admin_password" required>
            <button type="submit">Reset Password</button>
        </form>
         {{#if errorMessage}}
            <p style="color: red; text-align: center;">{{errorMessage}}</p>
        {{/if}}
        {{#if Changed}}
            <p style="color: green; text-align: center;">{{Changed}}</p>
        {{/if}}
        <p>Remember your password? <a href="/admin_login">Login here</a>.</p>
    </div>
</body>
</html>
