<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="forgot.css">
    <link rel="stylesheet" href="font.css">
</head>
<body>
    <div class="forgot-password-container">
        <h2>Admin <br> Forgot Password</h2>
        <p>Enter your email address to receive a password reset link.</p>
        <form action="/admin_forgot" method="post">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <button type="submit">Reset Password</button>
        </form>
        <p>Remember your password? <a href="/admin_login">Login here</a>.</p>
    </div>
</body>
</html>
