<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login - Hotel Booking</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="login-container" style="width: 40%;">
        <!-- login box -->
        <h2>User Login</h2>
        <form action="/login" method="post"> 
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit" onclick="uname">Login</button>
        </form>
         <!-- Display error message -->
        {{#if errorMessage}}
            <p style="color: red; text-align: center;">{{errorMessage}}</p>
        {{/if}}
        <!-- Forgot password and New User -->
        <div class="additional-links">
            <a href="/forgot">Forgot Password?</a>
            <span> | </span>
            <a href="/register">New User? Register Here</a>
            <br><br>
            <a href="/admin_login">Admin Login</a>
        </div>
    </div>
</body>
</html>
